body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   

}

header {
    display: flex;
    flex-direction: column;;
    align-items: center;
    background-color: lightsalmon;
    color: White;
}

main {
    padding: 36px 100px 0 100px;
    

}

#appetizers {
    display: flex;
    flex-direction: column;
    
}

#Main-dishes {
    display: flex;
    flex-direction: column;
    
}

#Desserts {
    display: flex;
    flex-direction: column;
    
}

h2 {
    border-bottom: 1px solid;
}

#menuItem {
        border-bottom: 0.5px dotted gray;

}